# Thư mục cấu hình IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Tệp hệ điều hành
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Tệp nhật ký và tạm thời
*.log
.system_generated/
brain/
scratch/
node_modules/
